@use "../../variables" as *;

.hero {
  position: relative;
  grid-area: main;
  box-sizing: border-box;
  width: 85%;
  height: 90%;

  margin: 30px auto;

  border: 15px solid var(--hero-border-color);
  border-radius: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .hero-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--hero-bg-color);
    z-index: -1;
    filter: blur(20px);
  }

  .hero-dots {
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-self: start;
    gap: 10px;

    .hero-dot {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: var(--hero-border-color);

      transition: all 0.3s ease-in-out;

      &:nth-child(1):hover {
        background-color: var(--hero-dot-color-1);
      }

      &:nth-child(2):hover {
        background-color: var(--hero-dot-color-2);
      }

      &:nth-child(3):hover {
        background-color: var(--hero-dot-color-3);
      }
    }
  }

  .hero-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    color: var(--text-color);

    font-style: normal;
    font-weight: 700;
    font-size: 32px;

    .hero-title-code {
      margin: 25px 0;
      color: var(--hero-border-color);
    }
  }

  .hero-subtitle {
    color: var(--text-color);
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    text-align: center;
  }

  .hero-btn {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--index-login-button-color);
    border: 2px solid var(--index-register-button-color);
    color: var(--index-register-button-color);
    border-radius: 50px;
    cursor: pointer;
    margin: 0 auto;

    transition: all 0.3s ease-in-out;

    a {
      color: var(--index-register-button-color);
      text-decoration: none;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;

      transition: all 0.3s ease-in-out;
    }

    &:hover {
      background-color: var(--index-register-button-color);
      border-color: var(--index-login-button-color);
      a {
        color: var(--index-login-button-color);
        font-size: 20px;
      }
    }
  }

  .projects-carousel {
    position: relative;
    width: 100%;
    max-width: 90%;
    margin: 20px auto;
    overflow: visible;

    .mySwiper {
      width: 100%;
      padding: 20px 0 60px 0;
    }

    .project-slide {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      &.active {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .img-container {
        width: 100%;
        aspect-ratio: 16 / 9;
        max-height: 40vh;

        overflow: hidden;
        border-radius: 20px;
        border: 2px solid var(--hero-border-color);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .numbertext {
        position: absolute;
        top: 0;
        left: 0;
        padding: 8px 12px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        font-weight: 500;

        background-color: var(--index-login-button-color);
        border: 2px solid var(--index-register-button-color);
        color: var(--index-register-button-color);
      }

      .project-text {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 500;
        white-space: nowrap;

        background-color: var(--index-login-button-color);
        border: 2px solid var(--index-register-button-color);
        color: var(--index-register-button-color);

        padding: 4px 20px;
        border-radius: 20px;
      }
    }

    .prev,
    .next {
      width: 40px;
      height: 40px;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--index-login-button-color);
      border: 2px solid var(--index-register-button-color);
      color: var(--index-register-button-color);
      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;

      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: var(--index-register-button-color);
        border-color: var(--index-login-button-color);
        color: var(--index-login-button-color);
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }

    .prev {
      left: 10px;
    }
    .next {
      right: 10px;
    }

    .dots {
      position: absolute;
      bottom: 15px;
      display: flex;
      gap: 5px;
      justify-content: center;

      .dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: var(--hero-border-color);
        cursor: pointer;

        &.active {
          background-color: var(--hero-dot-color-1);
        }
      }
    }
  }

  &.about {
    justify-content: space-evenly;

    .hero-about-content {
      width: 90%;
      margin: 20px auto;
      padding: 0 40px;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      p {
        font-size: 1.1rem;
        line-height: 1.6;
        color: var(--text-color);
        opacity: 0.8;

        animation: fadeInUp 0.8s ease forwards;
        text-align: justify;

        .logo-container {
          position: relative;
          display: inline-flex;
          align-items: center;
          vertical-align: text-top;
          overflow: hidden;
          margin: 0 6px;

          -webkit-mask-image: url("../../../assets/GWlogo.svg");
          mask-image: url("../../../assets/GWlogo.svg");
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-size: contain;
          mask-size: contain;

          svg {
            height: 1.2rem;
            display: block;
            color: var(--logo-color);
          }

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: -150%;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              to right,
              transparent 0%,
              rgba(255, 255, 255, 0.9) 50%,
              // Brillo muy fuerte
              transparent 100%
            );
            transform: skewX(-25deg);
            animation: shine 5s infinite ease-in-out;
          }
        }
      }
    }
  }

  &.login.split-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;

    .login-card {
      display: flex;
      width: 100%;
      overflow: hidden;

      .login-section {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;

        &.form-side {
          border-right: 2px solid var(--hero-border-color);
        }

        &.visual-side {
          position: relative;

          .visual-content {
            text-align: center;

            .placeholder-logo {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;

              .logo-wrapper {
                position: relative;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 350px;
                height: 150px;
                overflow: hidden;
                animation: fadeInUp 1s ease forwards;
                opacity: 0;

                -webkit-mask-image: url("../../../assets/GWlogo.svg");
                mask-image: url("../../../assets/GWlogo.svg");
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                -webkit-mask-size: contain;
                mask-position: center;

                &::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-color: var(--logo-color);
                  z-index: 1;
                }

                &::after {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: -150%;
                  width: 150%;
                  height: 100%;
                  background: linear-gradient(
                    to right,
                    transparent 0%,
                    rgba(255, 255, 255, 0) 30%,
                    rgba(255, 255, 255, 0.8) 50%,
                    rgba(255, 255, 255, 0) 70%,
                    transparent 100%
                  );
                  transform: skewX(-25deg);
                  animation: shine 8s infinite ease-in-out;
                  z-index: 2;
                }

                svg {
                  visibility: hidden;
                  width: 100%;
                  height: auto;
                }

                &:hover {
                  filter: drop-shadow(0 0 20px var(--logo-color));
                  transform: scale(1.02);
                  transition: all 0.3s ease;
                }
              }
            }
          }
        }
      }
    }
  }

  &.signup {
    .signup-card {
      display: flex;
      width: 100%;
      overflow: hidden;

      .signup-section {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
      }
    }
  }

  &.login,
  &.signup {
    .login-content,
    .signup-content {
      width: 100%;
      padding: 40px;

      display: flex;
      flex-direction: column;
      gap: 20px;

      .login-form,
      .signup-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        &.two-cols {
          .form-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            width: 100%;

            .form-section {
              height: 100%;
              display: flex;
              flex-direction: column;
              gap: 20px;
              align-items: center;

              .form-section-title {
                font-size: 1.1rem;
                font-weight: 500;
                color: var(--text-color);
                text-align: center;
              }

              .field {
                width: 100%;
              }
            }

            @media (max-width: 1100px) {
              grid-template-columns: 1fr;

              .form-section {
                .form-section-title {
                  text-align: left;
                }
              }
            }
          }
        }
      }

      .social-login {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .separator {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 10px;

          &::before,
          &::after {
            content: "";
            flex: 1;
            height: 1px;
            background-color: var(--hero-border-color);
          }

          span {
            color: var(--text-color);
            font-family: $font-family;
            font-size: 1rem;
            font-weight: 400;
          }
        }

        .google-btn {
          width: 100%;
          padding: 12px;
          border-radius: 50px;
          border: 2px solid var(--index-register-button-color);
          background-color: var(--index-login-button-color);
          color: var(--index-register-button-color);
          font-family: $font-family;

          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          cursor: pointer;
          font-size: 14px;
          font-weight: 500;

          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: var(--index-register-button-color);
            border-color: var(--index-login-button-color);
            color: var(--index-login-button-color);
          }

          svg {
            font-size: 1.2rem;
          }
        }
      }

      .signup-form {
        .hero-btn-submit {
          margin-top: 20px;
          width: 50%;
        }
      }
    }
  }

  &.login {
    .login-content {
      max-width: 500px;
      align-items: center;
    }
  }

  &.signup {
    .signup-content {
      max-width: 1000px;
      align-items: stretch;
    }
  }

  .login-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;

    p {
      color: var(--text-color);
      font-size: 0.9rem;
      font-weight: 400;
      display: flex;
      align-items: center;
      gap: 6px;
    }

    a {
      color: var(--login-a-color);
      text-decoration: none;
      font-size: 0.9rem;
      font-weight: 400;

      transition: all 0.2s ease-in-out;

      &:hover {
        color: var(--text-color);
      }
    }
  }

  @media (max-width: 1400px) {
    &.login.split-layout {
      .login-card {
        flex-direction: column;
        max-width: 500px;

        .login-section {
          &.form-side {
            border-right: none;

            .login-content {
              max-width: 100%;
            }
          }

          &.visual-side {
            visibility: hidden;
          }
        }
      }
    }
  }
}
